<div id="<%= dom_id note %>">
  <p>
    <strong>Ðtitle:</strong>
    <%= note.Ðtitle %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= note.text %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= note.category %>
  </p>

</div>
